<app-nav [userEmail]="userEmail"></app-nav>

<div class="container mt-4">
    <h2>{{ quizTitle }}</h2>
    
  
    <form (ngSubmit)="onSubmit()">
      <div *ngFor="let question of questions">
        <h4>{{ question.questionText }} ({{ question.pointsAssigned }} points)</h4>
        <div class="form-check" *ngFor="let choice of question.choices; let i = index">
          <input
            class="form-check-input"
            type="radio"
            name="{{question.questionId}}"
            id="choice{{ i }}"
            value="{{ choice.correctAnswer }}"
            required
          >
          <label class="form-check-label" for="choice{{ i }}">
            {{ choice.choiceText }}
          </label>
        </div>
        <hr>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </form>
  </div>
  