<app-header></app-header>
<div class="container mt-5">
    <div class="row">
      <!-- Left Side: Welcome Message and Logo -->
      <div class="col-md-6">
        <div class="jumbotron text-left">
          <!-- Your Logo (replace 'path/to/logo.png' with your actual logo path) -->
          <img src="../../../assets/images/quizmaker-logo.png" alt="Logo" class="img-fluid mb-4">
          <h1 class="display-4">Welcome to QuizMaker!</h1>
          <p class="lead">Start making quizzes by logging in or registering for an account.</p>
        </div>
      </div>

      <!-- Right Side: Buttons -->
      <div class="col-md-6">
        <div class="text-center">
            <br><br><br><br><br><br>
          <p>Choose an option below:</p>
          <a class="btn btn-primary btn-lg" routerLink="login" role="button">Login</a>
          <a class="btn btn-success btn-lg" routerLink="register" role="button">Register</a>
        </div>
      </div>
    </div>
  </div>