<div class="rectangle">
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/guy.png" class="guy w3-animate-opacity" alt="guy working on laptop">
        <div class="jumbotron text-left">
          <img src="../../../assets/images/quizmaker-logo-removebg.png" alt="Logo" class="img-fluid mb-4 logo w3-animate-opacity">
          <h4 class="w3-animate-opacity">The simplest way to <br>make and take quizzes!</h4>
        </div>
        <img src="../../../assets/images/girl.png" class="girl w3-animate-opacity" alt="girl working on laptop">
      </div>

      <div class="col-md-6 buttonsdiv">
        <div class="text-center">
            <br><br><br><br><br><br>
          <p>Choose an option below:</p>
          <a class="btn btn-primary btn-lg login" routerLink="login" role="button">Login</a>
          <a class="btn btn-success btn-lg register" routerLink="register" role="button">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>