header{
    background-color: #f1f7ff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f1f7ff;
  }
.navbar-collapse{
    background-color: #f1f7ff;
}
.collapse{
    background-color: #f1f7ff;
}
  .navbar-brand {
    position: relative;
    left: 1em;
    width: 1.8em;
  }
  .navbar-brand img{
    width: 150%;
  }
  .nav-item{
    height: 120%;
  }
  .nav-item.active {
    font-weight: bold;
    border: inset;
  }
